html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

body{
	height: 100%;
}

#slide-1, #slide-2, #slide-3{
	height: 100vh;
}

#slide-1{
    width: 100%;
    margin: 0px auto;
    background-image: url("../img/slide1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.25); /*can be anything, of course*/
}

#slide-1-img{
	position: absolute;
	height: 90vh;
	max-width:100%;
	height:auto;
}

#slide-1-content{
	height: 90vh;
}

#website-header{
	height: 10vh;
	background-color: #1E1E1E;
	bottom: 0px;
	width: 100%;
	z-index: 999;
}

#slide-2{
	background-color: red;
}

#slide-3{
	background-color: yellow;
}

#space{

	height: 500px;
	background-color: blue;
}

