html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

body{
	height: 100%;
}

/*@font-face {
    font-family: legaueGothic;
    src: url(fonts/LeagueGothic-Regular.otf) format("opentype");
}

@font-face {
    font-family: legaueGothic;
    font-weight: bold;
    src: url(fonts/LeagueGothic-Regular.otf) format("opentype");
}*/

#slide-1, #slide-2, #slide-3{
	/*height: 100vh;*/
}


#maximage{
	display: block;
	position: relative;
}

#slide-1{
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0px auto;
    background-color: rgba(0,0,0,0.65);
}

#slide-1-content-container{
	position: absolute;
	display: table;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

#slide-1-content{
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: #FCF8E3;
}

#slide-1-content-name{
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 55px;
}

#slide-1-content-title{
	font-family: 'Amatic SC', cursive;
	font-size: 22px;
}

#slide-1-content-icons{
}

.portfolio-icon:hover, .portfolio-icon:visited, .portfolio-icon:active {
	text-decoration: none;
}

.display-icon:hover, .display-icon:visited, .display-icon:active {
	text-decoration: none;
}

.hover-icon:hover, .hover-icon:visited, .hover-icon:active {
	text-decoration: none;
}

.portfolio-icon .display-icon{
	color: #FCF8E3;
}

.portfolio-icon .hover-icon{
	color: #FCF8E3;
}

/*-------------------------- SLIDE 1 -----------------------------*/

.slide-1-icon-list{
	padding-top: 0.4em;
	font-size: 22px;
	padding-left: 0;
	color: white;
}

.slide-1-icon-list li{
	display: inline;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.portfolio-icon span
{
  text-decoration: none;
}

a img{
	border: 0 none;
}

#overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: #4F444A; 
}

#slide-1-img{
	size: cover;
	position: center center;
	max-width:100%;
	margin: 0px auto;
}

/*-------------------------- WEBSITE HEADER -----------------------------*/
#website-header{
	position: relative;
	margin: 0;
	border: 0;
	background-color: #1E1E1E;//#4F444A;//#1E1E1E;
	width: 100%;
    margin: 0 auto;
    height: 70px;
}

#website-header-container{
	height: 70px;
	margin-top: -70px;
}

#website-banner-name{
	font-size: 34px;
    line-height: 1.2;
	font-family: 'Amatic SC', cursive;
	color: #FCF8E3;
	font-weight: 100;
	letter-spacing: 3px;
}

.navbar{
	border: 0px;
}

.navbar ul.nav{
	margin: 20px auto 0px auto;
}

.navbar-header {
    padding-top: 15px;
    padding-left: 10px;
}

.navbar-default .navbar-toggle{
	padding: 0;
    margin: 0px auto;
    border: 0;
}

.navbar-nav>li>a{
	color: #FCF8E3;
	display: block;
	font-size: 14px;
	font-weight: 100;
	line-height: 0px;
	transition: all 0.3s ease-out 0s;
	letter-spacing: 1px;
	font-family: 'Dosis', sans-serif;
}

.navbar-nav>li>a:hover{
	color: black;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: #1E1E1E;
    color: #948484;//#FFC0CB;
}

.sticky.is-sticky {
 	position: fixed;
 	left: 0;
  	right: 0;
  	top: 0;
  	z-index: 1000;
  	width: 100%;
}

/*-------------------------- SLIDE 2 -----------------------------*/
#slide-2{
	background-color: #2E2E2E;
	height: 200vh;
	display: block;
}

#slide-2-container{
	height: 200vh;
}

#slide-2-topic{
	color: #FCF8E3;
    font-size: 58px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 2em;
    text-shadow: 2px 2px #585232;
    font-family: 'Amatic SC', sans-serif;
}

#photo-container{
	padding-top: 3em;
}

#map-container{
	display: table;
    padding: 0px;
    padding-right: 0.5em;
    height: inherit;
    position: relative;
    overflow: hidden;
}

#map-image-container{
	position: absolute;
	overflow: hidden;
    padding: 0px;
}

#map{
	float: left;
    width: 100%;
    height: auto;
}

#home-marker{
	top: 42%;
    left: 67%;
    position: absolute;
    color: #BF497E;
}

#brown-marker{
	top: 32%;
    left: 26%;
    position: absolute;
    color: #BF497E;
}

.photo {
  display: block;
  width: 200px;
  height: 200px;
  padding-top: 3em;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}



/*-------------------------- SLIDE 3 -----------------------------*/
#slide-3{
	background-color: yellow;
	height: 100vh;
}

#space{

	height: 500px;
	background-color: blue;
}

